build/
release/libs/boost/
release/vendors/boost/b2
release/vendors/boost/bin.v2/
release/vendors/boost/bjam
release/vendors/boost/bootstrap.log
release/vendors/boost/libs/config/checks/architecture/bin/
release/vendors/boost/project-config.jam*
